body {
  font-family: 'Bilbo', cursive;
  background: #f3f3f3;
  text-align: center;
  font-size: 24px;
  color: #333;
}

h1 {
  color: #324;
  text-shadow: 2px 2px 2px #ccc;
  font-size: 64px;
  margin: 0;
}